In [19]:
from numpy import *
import pandas as pd
df1 = pd.read_csv('IRS-Tax Filing.txt', sep='\t', error_bad_lines=False)
df2 = pd.read_csv('Zillow-Rents.txt', sep='\t', error_bad_lines=False)

In [20]:
print list(df1)

['Zip', 'NoReturns', 'SingleReturns', 'UnempComp', 'StudentLoanDeductions', 'TaxableIncome']

In [21]:
print list(df2)

['Zip', 'State', 'County', 'City', 'ZrentValue']

In [22]:
df1.describe()

,Zip,NoReturns,SingleReturns,UnempComp,StudentLoanDeductions,TaxableIncome
count,27787.000000,2.778700e+04,27787.000000,27787.000000,27787.000000,2.778700e+04
mean,48862.683377,1.406809e+03,540.581567,379.392342,207.010760,5.621844e+04
std,27142.470204,2.403487e+04,9631.500890,7627.099472,3409.055737,9.552925e+05
min,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000e+00
25%,27021.500000,9.000000e+01,30.000000,0.000000,0.000000,3.346000e+03
50%,48876.000000,2.700000e+02,80.000000,100.000000,37.000000,1.049700e+04
75%,70585.000000,9.900000e+02,350.000000,232.000000,130.000000,3.935300e+04
max,99999.000000,2.207030e+06,919390.000000,882844.000000,262982.000000,8.518741e+07

In [23]:
df2.describe()

                Zip    ZrentValue
count  15930.000000  15930.000000
mean   47602.492216   1512.651099
std    28938.721498    781.903736
min     1001.000000    515.000000
25%    22824.750000   1057.000000
50%    45339.000000   1303.500000
75%    74036.750000   1728.000000
max    99705.000000  16697.000000

In [24]:
df3=pd.merge(df1,df2, on='Zip')

In [25]:
df3.describe()

,Zip,NoReturns,SingleReturns,UnempComp,StudentLoanDeductions,TaxableIncome,ZrentValue
count,15805.000000,15805.000000,15805.000000,15805.000000,15805.000000,15805.000000,15805.000000
mean,47438.655742,1078.310661,425.950016,292.220500,165.390889,43105.624676,1508.407656
std,28872.134744,1025.107648,485.825928,348.195088,200.483674,41413.753812,765.863569
min,1001.000000,0.000000,0.000000,0.000000,0.000000,0.000000,515.000000
25%,22727.000000,280.000000,80.000000,88.000000,36.000000,10879.000000,1056.000000
50%,45231.000000,720.000000,240.000000,178.000000,90.000000,28553.000000,1302.000000
75%,73460.000000,1620.000000,630.000000,374.000000,239.000000,65038.000000,1725.000000
max,99705.000000,8490.000000,7530.000000,5332.000000,3930.000000,408987.000000,16697.000000

In [26]:
df3["ZrentValue"]=df3["ZrentValue"].apply(lambda x:math.log(x+1))

In [27]:
df3["NoReturns"]=df3["NoReturns"].apply(lambda x:math.log(x+1))

In [28]:
df3["SingleReturns"]=df3["SingleReturns"].apply(lambda x:math.log(x+1))

In [29]:
df3["TaxableIncome"]=df3["TaxableIncome"].apply(lambda x:math.log(x+1))

In [30]:
df3["StudentLoanDeductions"]=df3["StudentLoanDeductions"].apply(lambda x:math.log(x+1))

In [31]:
df3["UnempComp"]=df3["UnempComp"].apply(lambda x:math.log(x+1))

In [32]:
df3

,Zip,NoReturns,SingleReturns,UnempComp,StudentLoanDeductions,TaxableIncome,State,County,City,ZrentValue
0,35004,6.825460,5.638355,4.644391,5.062595,10.509823,AL,Saint Clair,Moody,7.120444
1,35005,6.133398,4.948760,3.828641,4.204693,9.773379,AL,Jefferson,Adamsville,6.729824
2,35006,5.252273,3.713572,4.025352,0.000000,8.944942,AL,Jefferson,North Johns,6.685861
3,35007,7.534228,6.274762,5.164786,5.662960,11.200841,AL,Shelby,Alabaster,7.126891
4,35014,5.351858,4.110874,0.000000,3.496508,8.950403,AL,Talladega,Talladega,6.791221
5,35016,6.938284,5.442418,4.653960,4.454347,10.610414,AL,Marshall,Arab,6.843750
6,35020,6.566672,5.484797,4.682131,4.330733,10.207178,AL,Jefferson,Bessemer,6.597146
7,35022,7.327123,6.329721,4.736198,5.332719,10.988474,AL,Jefferson,Bessemer,7.095893
8,35023,7.333676,5.968708,4.962845,4.897840,10.998911,AL,Jefferson,Hueytown,6.800170
9,35040,7.223296,6.042633,5.099866,5.720312,10.882133,AL,Shelby,Calera,7.046647
10,35043,6.478510,5.198497,5.049856,4.477337,10.134123,AL,Shelby,Chelsea,7.379632
11,35044,6.042633,4.709530,4.356709,3.871201,9.695725,AL,Talladega,Childersburg,6.785588
12,35051,6.066108,4.615121,4.219508,4.043051,9.698184,AL,Shelby,Columbiana,7.078342
13,35054,5.484797,4.262680,4.454347,0.000000,9.144521,AL,Saint Clair,Pell City,7.409742
14,35061,4.394449,4.110874,0.000000,0.000000,8.020928,AL,Jefferson,Birmingham,6.622736
15,35064,6.133398,5.198497,3.555348,4.317488,9.800735,AL,Jefferson,Fairfield,6.629363
16,35068,6.447306,5.484797,0.000000,4.727388,10.126431,AL,Jefferson,Fultondale,6.950815
17,35071,7.048386,5.916202,4.382027,4.779123,10.721504,AL,Jefferson,Gardendale,7.035269
18,35073,4.948760,3.931826,0.000000,3.761200,8.604838,AL,Jefferson,Graysville,6.650279
19,35078,4.709530,3.713572,0.000000,2.708050,8.372630,AL,Shelby,Harpersville,7.080868
20,35080,7.090910,5.888878,4.969813,5.361292,10.755474,AL,Shelby,Helena,7.174724
21,35087,4.709530,3.433987,0.000000,0.000000,8.344267,AL,Morgan,Joppa,6.723832
22,35091,5.351858,4.262680,0.000000,0.000000,9.015055,AL,Jefferson,Kimberly,7.122867
23,35094,6.857514,5.602119,4.727388,4.804021,10.525058,AL,Jefferson,Leeds,7.003974
24,35096,6.236370,4.795791,0.000000,3.951244,9.877349,AL,Talladega,Lincoln,6.931472
25,35111,7.057037,5.771441,5.049856,4.905275,10.717657,AL,Tuscaloosa,Lake View,7.125283
26,35114,6.042633,4.709530,4.595120,4.094345,9.639392,AL,Shelby,Alabaster,7.222566
27,35115,6.608001,5.303305,4.521789,4.465908,10.243098,AL,Shelby,Montevallo,6.968850
28,35116,5.673323,4.262680,4.219508,3.178054,9.341281,AL,Jefferson,Morris,7.005789
29,35117,6.133398,4.795791,4.510860,3.850148,9.817930,AL,Jefferson,Mount Olive,7.040536
...,...,...,...,...,...,...,...,...,...,...
15775,54963,6.381816,5.017280,5.176150,4.369448,10.055436,WI,Winnebago,Omro,6.914731
15776,54968,5.525453,4.394449,4.867534,0.000000,9.210140,WI,Green Lake,Princeton,6.844815
15777,54971,6.734592,5.484797,5.710427,4.700480,10.425817,WI,Fond du Lac,Ripon,6.692084
15778,54974,4.948760,3.433987,4.753590,0.000000,8.621373,WI,Fond du Lac,Rosendale,6.770789
15779,54977,4.615121,3.433987,0.000000,0.000000,8.315322,WI,Waupaca,Scandinavia,7.025538
15780,54981,7.057037,5.968708,5.379897,4.962845,10.745206,WI,Waupaca,Waupaca,6.990257
15781,54983,5.860786,4.709530,4.700480,3.526361,9.545741,WI,Waupaca,Weyauwega,6.995766
15782,82001,7.962416,6.985642,6.210600,6.198479,11.682786,WY,Laramie,Cheyenne,7.117206
15783,82007,7.193686,6.066108,5.998937,5.181784,10.889136,WY,Laramie,Cheyenne,7.044905
15784,82009,7.796058,6.846943,5.683580,5.602119,11.518798,WY,Laramie,Cheyenne,7.322510
15785,82053,4.795791,4.110874,0.000000,3.583519,8.459352,WY,Laramie,Burns,7.187657
15786,82070,7.057037,6.089045,5.117994,5.673323,10.781141,WY,Albany,Laramie,7.024649
15787,82072,6.621406,5.739793,5.123964,5.231109,10.347660,WY,Albany,Laramie,7.011214
15788,82240,6.508769,5.303305,5.036953,4.290459,10.199101,WY,Goshen,Torrington,6.837333
15789,82301,6.538140,5.564520,4.812184,4.234107,10.267749,WY,Carbon,Rawlins,6.899723
15790,82401,6.347389,4.948760,5.023881,4.158883,10.017263,WY,Washakie,Worland,6.839476
15791,82410,5.081404,3.931826,0.000000,4.007333,8.770439,WY,Big Horn,Basin,6.778785
15792,82426,5.398163,4.262680,4.644391,0.000000,9.096275,WY,Big Horn,Greybull,6.771936
15793,82431,5.707110,4.615121,4.356709,3.688879,9.361429,WY,Big Horn,Lovell,6.811244
15794,82435,6.781058,5.564520,5.231109,4.727388,10.464873,WY,Park,Powell,7.030857
15795,82443,5.771441,4.709530,5.093750,3.332205,9.498522,WY,Hot Springs,Thermopolis,6.898715
15796,82501,7.065613,5.942799,6.169611,4.727388,10.769600,WY,Fremont,Riverton,6.948897
15797,82520,6.803505,5.802118,4.836282,4.905275,10.512954,WY,Fremont,Lander,7.057898
15798,82601,7.539559,6.746412,5.934894,5.484797,11.279934,WY,Natrona,Casper,6.985642
15799,82604,7.570959,6.660575,6.025866,5.541264,11.307131,WY,Natrona,Casper,7.057898
15800,82609,7.208600,6.431331,5.438079,5.236442,10.964813,WY,Natrona,Casper,7.098376
15801,82636,5.993961,5.017280,5.198497,3.526361,9.729848,WY,Natrona,Evansville,7.072422
15802,82701,5.888878,4.875197,4.770685,3.688879,9.614805,WY,Weston,Newcastle,6.912743
15803,82901,7.654917,6.803505,6.098074,5.204007,11.375225,WY,Sweetwater,Rock Springs,7.223296
15804,82935,6.781058,5.802118,5.393628,4.304065,10.500839,WY,Sweetwater,Green River,7.262629

In [33]:
from sklearn.linear_model import LinearRegression
lm = LinearRegression()
X, y = df3[['NoReturns','SingleReturns','TaxableIncome','StudentLoanDeductions','UnempComp']], df3.ZrentValue
model = lm.fit(X, y)

In [34]:
lm.intercept_

8.798833896085112

In [35]:
lm.coef_

array([ 0.02111108,  0.44432981, -0.4075097 ,  0.00064915,  0.00660313])

In [36]:
lm.score(X, y)

0.28285419004751744

In [37]:
import statsmodels.api as sm
X = sm.add_constant (X)
model = sm.OLS(y,X).fit()
model.summary()

/usr/local/lib/python2.7/dist-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:             ZrentValue   R-squared:                       0.283
Model:                            OLS   Adj. R-squared:                  0.283
Method:                 Least Squares   F-statistic:                     1246.
Date:                Thu, 22 Mar 2018   Prob (F-statistic):               0.00
Time:                        00:26:41   Log-Likelihood:                -4993.2
No. Observations:               15805   AIC:                             9998.
Df Residuals:                   15799   BIC:                         1.004e+04
Df Model:                           5
Covariance Type:            nonrobust
=========================================================================================
                            coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------
const                     8.7988      0.107     81.857      0.000       8.588       9.010
NoReturns                 0.0211      0.029      0.737      0.461      -0.035       0.077
SingleReturns             0.4443      0.007     65.205      0.000       0.431       0.458
TaxableIncome            -0.4075      0.029    -14.262      0.000      -0.464      -0.352
StudentLoanDeductions     0.0006      0.003      0.217      0.829      -0.005       0.007
UnempComp                 0.0066      0.002      3.960      0.000       0.003       0.010
==============================================================================
Omnibus:                     2157.443   Durbin-Watson:                   0.830
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             5483.190
Skew:                           0.773   Prob(JB):                         0.00
Kurtosis:                       5.437   Cond. No.                         642.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [18]:
# Brief discussion of model and estimation procedure

# I used a linear regression model to find out the 
# effect of the median rent value on the number of returns filed,
# number of single returns filed, total taxable income, 
# total student loan interest deductions, and total unemployment 
# compensation. Before running the regression, I did a log transformation
# so that my results would be less sensitive to outliers in the data.

In [ ]:
#An analysis and discussion of the findings

#Because I did a log-log transformation, my coefficients reflect an 
#estimated percent change in rent for a percent change in the 
#independent variables. Looking at Unemployment Compensation: a 1% 
#increase in unemployment compensation is associated with a 0.0066% 
#increase in median rent value, on average, holding other variables
#constant. This increase in rent value is because unemployment 
#made homeowners switch to renting. The increase in demand for 
#rentals drove up prices.

#The coefficient for single returns is positive because
#single individuals are more likely to rent in an area.
#more demand for rent means higher rent values. 

#Looking at the p-values, number of returns filed and 
#total student loan interest deductions seem to be statistically 
#insignificant.